name: CI

on:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
      - run: ruff check --fix
      - run: ruff format --check --diff

  # test-ubuntu:
  #   runs-on: ubuntu-latest
  #   name: Pytest on Ubuntu
  #   steps:
  #     - name: Checkout Repository
  #       uses: actions/checkout@v6

  #     - name: Install the latest version of uv
  #       uses: astral-sh/setup-uv@v7

  #     - name: Install Dependencies
  #       run: |
  #         uv venv --python 3.11
  #         uv sync --all-extras --dev
  #       env:
  #         UV_TORCH_BACKEND: auto

  #     - name: Run pytest
  #       run: uv run pytest